notes.save
notes.save.1
notes.save.2
notes.save.3
notes.save.4
devops_plan.pdf
client-03.ovpn
client-01.ovpn
aquecola_network-01.ovpn
Vagrant/Vagrantfile.save
Vagrant/Vagrantfile.save
Programming/Python/code/__pycache__/
.notes.swp
.notes.swo
.gitignore.swp
